<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>

    <!-- カスタムCSS -->
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    <!-- MathJaxなど他のヘッド情報 -->
    {% include head.html %}
  </head>
  <body>
    <header class="site-header" role="banner">
      {% include header.html %}
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer" role="contentinfo">
      {% include footer.html %}
    </footer>
  </body>
</html>
